<!-- <div id="mfe-cards"></div>
  <%= content_tag :div,
  id: "mfe_card",
  data: @mfes.to_json do %>
  <% end %>

<%= javascript_pack_tag 'index' %> -->


<%= content_tag :div,
  id: "mfe_data",
  data: @mfe.to_json do %>
<% end %>

<%= javascript_pack_tag 'mfe' %>
