// Specific CSS for your home-page
.mfe-app {
  display: flex;
}

.mves-main {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.mves-show {
  padding-top: 10px;
  flex-basis: 50%;
  height: 100vh;
  top: 0;
  position: sticky;
  overflow-y: auto;
}

.mves-cards {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
