.mfe-card {
  flex-basis: calc(50% - 20px);
  margin: 10px;
  cursor: pointer;
  height: 200px;
}
.mfe-card:hover {
  opacity: 0.9;
}

.mfe-card-title {
  margin-top: 10px;
  font-weight: bold;
}

.mfe-card-upp {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mfe-card-upp-picture {
  img {
    width: 100px;
    padding: 15px 0px;
  }
}

.mfe-card-upp-intro {
  font-size: 12px;
}

.mfe-card-sub {
  background-color: white;
}

.mfe-card-sub-learn {
  font-size: 16px;
  padding: 15px 10px;
}
