.mfe-upper-bar {
  position: relative;
}

.mfe-upper-bar-content {
  background: linear-gradient(-225deg, rgba(0,150,179,1) 0%, rgba(80,207,140,1) 80%);
  height: 5vh;
}

.mfe-data-under-highlights {
  border-bottom: 10px solid #FCFFFA;
}

#mfe-logo img {
  width: 400px;
}
